     body{
	 margin:0;
	 padding:0;
     background: url(../img/dota-body.jpg) 50% 0 no-repeat #040708;
     }
     .head-left{
         margin-left: 25px;
         margin-top: 25px;
     }
     .head-right{
         background: url(../img/rico_global.png) 0 50% no-repeat;
         padding-left: 22px;
         color: #999999;
         float: right;
         margin-right: 40px;
         margin-top: -35px;
     }
     .head-right > a{
         font-size: 13px;
     }
     .head-right > i{
         font-style: normal;
         padding: 0 5px;
     }
     .lan_tabpage{
         text-align: center;
         margin-top: 50px;
     }
     .lan_tabpage h1{
         margin-top: 0;
         font: 700 45px/1 "Microsoft Yahei";
         letter-spacing: 5px;
         text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
         color: #ffffff;
     }
     .lan_tabpage p{
         font-size: 0;
         line-height: 0;
         height: 24px;
         background: url(../img/vice_tit_ch.png) no-repeat center;
     }
     .cur{
         width: 405px;
         height: 50px;
         background: #4C5F71;
         font-size: 18px;
         display: inline-block;
         line-height: 46px;
         color: white;
         font-family: "Microsoft Yahei";
         text-decoration: none;
     }
        .uname{
            width: 100%;
            height:30px;
            margin-top:20px;
            vertical-align: top;
            font-size: 16px;
            background: rgba(0,0,0,0.4);
            font-color:#fff;
            border:1px solid #424242;
        }
        .upwd{
            width: 100%;
            height:30px;
            margin-top:20px;
            vertical-align: top;
            font-size: 16px;
            background: rgba(0,0,0,0.4);
            color: #dbdbdb;
            border:1px solid #424242;
        }
        .lan_tabpage{
            width: 400px;
            margin-top: 55px;
            margin-left: 585px;
        }
        .emails{
            width: 100%;
            height:30px;
            margin-top:20px;
            vertical-align: top;
            font-size: 16px;
            background: rgba(0,0,0,0.4);
            color: #dbdbdb;
            border:1px solid #424242;
        }
        .truename{
            width: 100%;
            height:30px;
            margin-top:20px;
            vertical-align: top;
            font-size: 16px;
            background: rgba(0,0,0,0.4);
            color: #dbdbdb;
            border:1px solid #424242;
        }
        .idnumber{
            width: 100%;
            height:30px;
            margin-top:20px;
            vertical-align: top;
            font-size: 16px;
            background: rgba(0,0,0,0.4);
            color: #dbdbdb;
            border:1px solid #424242;
        }
        .code{
            width: 100%;
            margin-right: 116px;
            height:30px;
            margin-top:20px;
            vertical-align: top;
            font-size: 16px;
            background: rgba(0,0,0,0.4);
            color: #dbdbdb;
            border:1px solid #424242;
        }
        .codema{
            width: 70px;
            background: #4c5f71;
            display: block;
            height: 37px;
            line-height: 37px;
            font-size: 16px;
            text-align: center;
            color: #fff;
        }
        .cbox{
            margin-top: 15px;
            width: 272px;
        }
        .cbox span,a{
            color: #999;
            font-size: 12px;
            width: 200px;
        }
        .mianfei{
            display: block;
            width: 400px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            border: 1px solid #b94c3d;
            color: #fff;
            background: #a23526;
            margin-left: 585px;
            margin-top: 20px;
        }
        .yiyou{
            display: block;
            height: 40px;
            width: 400px;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            border: 1px solid #666;
            color: #ccc;
            background: url(../img/transparent.png) no-repeat center;
            text-decoration: none;
            margin-left: 585px;
            margin-top: 20px;
        }
        .paybot{
            border-top: 1px solid #0f0f0f;
            border-bottom: 1px solid #0f0f0f;
            width: 1002px;
            height: 28px;
            margin: 0 auto;
            line-height: 28px;
            text-align: center;
            color: #587E7E;
            margin-top: 100px;
        }
        .paybot a{
            margin: 0 15px;
            text-decoration: none;
        }
        .foot-font{
            width: 1002px;
            margin: 10px auto 0;
            line-height: 20px;
            text-align: center;
            color: #8f8f8f;
            font-size: 10px;
        }
        .foot-img{
            margin-left:675px;
        }