body{
    background: #F5f5f5;
    overflow-x: hidden;
}
.container{
    display:flex;margin:0 auto;
    justify-content:center;
    width:1500px;
    flex-direction:column;
    overflow-x: hidden;
}
.banner-container{
    width:100%;
    height:466px;
}
.banner{
    position:relative;
    width:1400px;
    height:466px;
	margin:0 auto;
}
.banner>div{
    width:100px;
    height:466px;
    position:absolute;
    top:0;
    background:url(../img/1.jpg);
}
.banner>div:nth-child(3){
    left:100px;background-position:-100px 0;
}
.banner>div:nth-child(4){
    left:200px;background-position:-200px 0;
}
.banner>div:nth-child(5){
    left:300px;background-position:-300px 0;
}
.banner>div:nth-child(6){
    left:400px;background-position:-400px 0;
}
.banner>div:nth-child(7){
    left:500px;background-position:-500px 0;
}
.banner>div:nth-child(8){
    left:600px;background-position:-600px 0;
}
.banner>div:nth-child(9){
    left:700px;background-position:-700px 0;
}
.banner>div:nth-child(10){
    left:800px;background-position:-800px 0;
}
.banner>div:nth-child(11){
    left:900px;background-position:-900px 0;
}
.banner>div:nth-child(12){
    left:1000px;background-position:-1000px 0;
}
.banner>div:nth-child(13){
    left:1100px;background-position:-1100px 0;
}
.banner>div:nth-child(14){
    left:1200px;background-position:-1200px 0;
}
.banner>div:nth-child(15){
    left:1300px;background-position:-1300px 0;
 }
.product-imgs{
    width: 1273px;
    margin: 10px auto;
    text-align: center;
    overflow: hidden;
    text-indent: -7px;
}
.product-imgs a{
    float: left;
    width: 413px;
    height: 230px;
    margin-left: 9px;
}

.hot-sale-title{
    text-align:center;
    background:#F46F55 url(../img/title-bg.jpg) no-repeat right;
    height:60px;
    width:1270px;
    font-size: 24px;
    font-weight: bold;
    color: #f46f55;
    position: relative;
    margin: 10px auto 28px;
    line-height:60px;
}
.hot-sale-img{
	width:1390px;
	margin:0 auto;
}
.hot-sale-img-first{
    padding-left:50px;
}
.hot-sale-img-first>a,.hot-sale-img-sec>a{
    float:left;
    margin:5px;
}
.product-imgs a:hover,.hot-sale-img a:hover{
    transform:scale(1.01);
}
.new-sale{
    position:relative;
}
.new-sale-title{
    color:#658CDF;
    text-align:center;
    background: #658CDF url(../img/title-bg.jpg) no-repeat right;
    height:60px;
    width:1270px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin: 10px auto 28px;
    line-height:60px;
}
.new-sale-img a{
	text-decoration:none;
}
.new-sale-img a img{
	display:block;
	width:1400px;
    margin:10px auto 0;
	}
.masterpiece,.clothes,.tshirts,.plush,.daily,.special{
    width:100%;
    margin-left: 150px;
}
.masterpiece div:first-child, .clothes div:first-child,.tshirts div:first-child,.plush div:first-child,.daily div:first-child ,.special div:first-child{
    height:50px;
    line-height:50px;
}
.masterpiece div:nth-child(2) div:first-child,
.clothes div:nth-child(2) div:first-child,
.tshirts div:nth-child(2) div:first-child,
.plush div:nth-child(2) div:first-child,
.daily div:nth-child(2) div:first-child,
.special div:nth-child(2) div:first-child{
    height:44px;
    line-height:44px;
    text-align:right;
    padding-right:300px;
}
.product{
    width:287px;
    height:387px;
    /*border:1px solid red;*/
    display:inline-block;
    margin:15px 14px 0 0;
    background: #FFFFFF;
    text-align: center;
    cursor: pointer;
    position:relative;
    overflow: hidden;
}
.product:hover{
    transform: translate(0,-2px);
    box-shadow: 0 3px 3px #CCC;
}
.addcart{
    position:absolute;
    bottom:0;
    left:0;height:0;
    transition:all 1s;
}
.product:hover>.addcart{
    position:absolute;
    bottom:10px;
    left:0;
    height:80px;
}
.product img{
    width:287px;
}
.desct{
    font-size: 16px;
    height: 38px;
    line-height:38px;
    overflow: hidden;
}
.price{
    font-size: 18px;
    color: #e90404;
}
.hide{
    display:none;
}
.show{
    display:block;
}
.active{
    color: #f85535;
    border-bottom: 2px solid #f85535;
    float: left;
    margin-right: 40px;
    padding: 0 10px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    position: relative;
}