body {
  min-width: 1200px;
  font: 16px/1.5 "MicroSoft YaHei";
}
.containe {
	width: 100%;
    height: 80px;
    background: url(../img/data2.home.nav.bg.png) center top no-repeat;
    color: #827c79;
    font: 16px/16px 'Microsoft YaHei';
}
.main {  
	height: 100%;
    width: 1200px;
    margin: 0 auto;
}
.logo {
	display: block;
    width: 260px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    background: url(../img/dota2.home.log.png) center top no-repeat;
}
.logo{
	float: left;
	margin-right: 20px;
}
.link_div {
	position: relative;
    float: left;
    padding: 23px 7px;
    text-align: center;
    width: 78px;
}
.link_div a {
	display: block;
    font-size: 15px;
    color: #827c79;
}
.link_div:hover {background-color:#000000;}
.link_div:hover .link_pop {
    display: block;
    z-index: 1001;
}
.link_nav span {
	display: block;
    font-size: 16px
}
.link_div:hover .link_nav {
    color: #00c0ff;
}
.link_nav .e {
	margin-top: 2px;
    font-size: 9px;
    line-height: 16px;
    -webkit-transform: scale(0.75);
}
.link_pop {
	display: none;
    position: absolute;
    top: 70px;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 239px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    background: url(../img/data2.home.submenu.bg.png) top center no-repeat;
    background-size: cover;
}
.link_pop a:hover {
	color: #00c0ff;
}
.user {
	float: right;
    width: 234px;
    height: 100%;
    margin-right: 40px;
    color: #ccc;
    position: relative;
	clear: both;
}
.info {
	padding-left: 65px;
    height: 100%;
}
.box {
    margin-top: 17px;
    display: block;
}

.avatar {
    background-color: #101215;
    background-image: url(../img/icons.png);
    background-position: 13px -451px;
}

.nav_avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 13px;
    border-radius: 50%;
    border: 1px solid #262323;
    background-color: #101215;
    box-sizing: content-box;
	left: -10px
}
.name {
    font-size: 18px;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 3px
}
.name span {color:#ffffff;}
.name a {color:#00b7f4}
.aa{
    font-size: 12px;
    color: #898989;
    padding: 0;
    line-height: 1.5;
    font-family: "Microsoft YaHei",Verdana,Geneva,sans-serif,\5b8b\4f53;
}
div.wrap{
	height:2010px;
}
.wrap{
	    background: #1a1b1e url(../img/44a04c01449e6cefa1e3fc17ec5c302e1513781529.jpg) top center no-repeat;
}

.rel1200 {
	width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.rel1200 a.bg_link {
    display: block;
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
}
.main_title{
	height: 66px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    background-color: #ededed;
    border-bottom: 1px solid #d9d9d9;
}
.rel1200 .main_title span,.rel1200 .main_title a {
	display: inline-block;
	margin: 0;
	line-height: 66px;
	font-size: 16px;
	color: #666;
}
.main_le {
    float: left;
    width: 870px;
    height: 1430px;
    box-sizing: border-box;
    padding-left: 50px;
    background-color: #f5f5f5;
}
.down_main{
	height:281px;
}
.down_pub {
    position: relative;
    padding-bottom: 50px;
	}
.down_pub::before {
	content: '';
	width: 780px;
	height: 1px;
	background-color: #ececec;
	position: absolute;
	bottom: 0;
	left: 0;
}
.bor_none::before {
	height: 0px;
}
.down_h1 {
    color: #404040;
    font-size: 50px;
    font-weight: bold;
    height: 70px;
    padding-bottom: 20px;
    line-height: 2;
}
.down_vio {
    font-size: 14px;
    color: rgb(64, 64, 64);
    line-height: 22px;
    padding-bottom: 10px;
}
.down_ul {
    height: 67px;
}
.down_ul a.down_btn1 {
    display: block;
    width: 267px;
    height: 67px;
    background: url(../img/asd.png) no-repeat 0 0;
}
.down_share {
    height: 35px;
}
.down_share {
    float: right;
    padding-right: 20px;
    margin-top: -23px;
}
.share_baidu {
    float: right;
}
span.bds_more, .bds_tools a {
    display: block;
    font-family: 'ו',Arial;
    height: 16px;
    float: left;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 22px;
}
span.bds_more {
    background: url(../img/is.png?cdnversion=20131219) no-repeat 0 5px!important;
	}

.bds_tools a {
    background: url(../img/is.png?cdnversion=20131219) no-repeat;
	}
.bds_tsina {
    background-position: 0 -115px!important;
}
.bds_qzone {
    background-position: 0 -75px!important;
}
.bds_tqq {
    background-position: 0 -235px!important;
}
.bds_douban {
    background-position: 0 -395px!important;
}
.bds_tieba {
    background-position: 0 -595px!important;
}
.bds_renren {
    background-position: 0 -195px!important;
}
.bds_kaixin001 {
    background-position: 0 -275px!important;
}
.pub_h2s {
    position: relative;
    margin-top: 44px;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(64, 64, 64);
    line-height: 1.2;
}
.pub_h2s:before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 22px;
	background-color: #379be9;
}
.down_lc {
    background: url(../img/lc.png) no-repeat 0 0;
    height: 250px;
    position: relative;
}
.down_lc a {
	display: block;
    position: absolute;
    height: 67px;
    top: 0;
    color: #a1a1a1;
    font-weight: bold;
    font-size: 18px;
}
.down_lc a.lc_btn1 {
	left: 2px;
	top: 31px;
    width: 205px;
}
.down_lc a.lc_btn2 {
	left: 199px;
    top: 158px;
    width: 205px;
}
.down_lc a.lc_btn3 {
	left: 598px;
    top: 161px;
    width: 205px;
}
.down_ps{
	font-size:14px;
	line-height: 24px;
}
.pub_h2s {
    position: relative;
    margin-top: 44px;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(64, 64, 64);
    line-height: 1.2;
}
.down_media {
    height: 52px;
    margin-top: 30px;
}
.down_media ul li {
    float: left;
    width: 157px;
    height: 52px;
    margin-right: 43px;
}
.down_media ul li a {
    display: block;
    line-height: 52px;
    text-align: center;
    color: #f5f5f5;
    font-size: 18px;
    background-color: #379be9;
}
}
.peizhi {
    color: #000;
    font-size: 14px;
    line-height: 24px;
}
.peizhi h3 {
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 20px;
}
.peizhi table td.left {
    width: 80px;
    text-align: right;
    color: rgb(64, 64, 64);
}
.peizhi table td.right {
    color: #379be9;
}
.peizhi table {
    margin-left: 110px;
	font-size: 14px;
	line-height: 24px;
}
.otherdown {
    background: url(../img/MD5sprites.png) no-repeat 0 0;
    height: 108px;
    margin-top: 28px;
}
.otherdown a {
    float: left;
    width: 106px;
    height: 106px;
    margin-right: 30px;
}
.main_lr {
    float: left;
    width: 330px;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 60px;
    padding-top: 18px;
    height: 1430px;
    background-color: #f2f2f2;
}
.quesul {
    padding-top: 15px;
    padding-left: 18px;
}
.queslist li, .queslist li a {
    color: rgb(64,64,64);
    font-size: 12px;
    line-height: 2.5;
}
.queslist li {
    list-style-type: decimal-leading-zero;
}
.ask_btn {
    background: url(../img/asd.png) no-repeat -269px 0;
    width: 169px;
    height: 51px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#footer {
    width: 100%;
    height: 160px;	
}